

{% if persona|length >= 1 %}

    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cédula</th>
            <th>Mesa Electoral</th>
            <th>Aciones</th>
        </tr>

        {% for persona in persona %}
            <tr>
                <td>
                    {{ persona.name }}
                </td>
                <td>
                   {{ persona.lastname }}
                </td>
                <td>
                    {{ persona.cedula }}
                </td>
                <td>
                    {{ persona.mesaelectoral }}
                </td>
                <td class="button" id="button">

                    <a href="{{ path('persona_detail',{'id':persona.id}) }}" class="show">Ver</a>

                    {% if app.user != null and persona.user.id == app.user.id  %}

                        <a href="{{ path('persona_edit',{'id':persona.id}) }}" class="edit">Editar</a>

                        <a href="{{ path('persona_delete',{'id':persona.id}) }}" class="delete">Borrar</a>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>
{% else %}
    <strong>No hay Personas registradas por el momento.</strong>
{% endif %}

